
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700;800&display=swap');


body, html{
	font-family: 'Open Sans', sans-serif;
}


h1{
	font-weight: 800;
	font-size: 50px;
}

h2{

}

h3{
 	font-weight: bold;
 	font-size: 30px;
}

h4{
	font-weight: bold;
	font-style: 20px;
}


.wrapper{
	width: 960px;
	margin: 0 auto;
}


.hero-banner{
	background-color: #007FFF;
	min-height: 100vh;
	padding:50px 20px;
 	box-sizing:border-box;
 	position: relative;
 	overflow: hidden;
}

.hero-banner h1{
	color: white;
	margin: 14px 0 20px;
}

.hero-banner h3{
	color: white;
	margin: 0 0 35px;

}

.hero-banner h4,
.hero-banner h4 a{
	color: white;
	margin: 0;
}

.character1{
	width: 363px;
	height: 344px;
	position: absolute; top: 10%; right: 89px;
	transform: rotate(15deg);

}

.character2{
	width: 309px;
	height: 371px;
	position: absolute; top: 213px; right: 109px;

}

.character3{
	width:297px;
	height:286px;
	position: absolute; bottom:74px; right: 277px;
}

a.cta{

}

a.cta,
button.cta{
font-size: 20px;
font-weight: bold;
color: white;
background: #007FFF;
display: inline-block;
border: 10px solid rgba(0, 127, 255, .15);
box-shadow: 0 0 0 10pt rgba(0, 127, 255, .15);
padding: 20px 30px;
border-radius: 10px;
text-decoration: none;
}

a.cta.alt{

}

a.cta.alt,
button.cta.alt{
	 background-color: #FFD400;
 	outline-color: rgba(0, 127, 255, .15);
	color: #111111;

}



/* 	
	<div class="hero-banner">	
		<div class="wrapper">
			<h4>V From <a href="https://taptapkaboom.com" target=_blank>Tap Tap Kaboom</a> Presents</h4>
			<h1>The Silliest &amp;<br/>
				Most Awesome Gang<br/>
				In The World!</h1>
				<h3>It's the Circle Guy, Hat Guy &amp; Red Guy. <br/> They're the best of friends.</h3>
			<button class="cta alt" href="#more-info">Read More</button>
		</div>

	
		<div class="character1">
			<img src="img/character1.jpg" width="363" height="344">
		</div>
		<div class="character2">
			<img src="img/character2.jpg" width="309" height="344">
		</div>
		<div class="character3">
			<img src="img/character3.jpg" width="297" height="286">
		</div>

	</div>
*/
