
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700;800&display=swap');


body, html{
	font-family: 'Open Sans', sans-serif;
}


h1{
	font-weight: 800;
	font-size: 50px;
}

h2{

}

h3{
 	font-weight: bold;
 	font-size: 30px;
}

h4{
	font-weight: bold;
	font-style: 20px;
}


.wrapper{
	width: 960px;
	margin: 0 auto;
}


.hero-banner{
	background-color: #007FFF;
	min-height: 100vh;
	padding:50px 20px;
 	box-sizing:border-box;
 	position: relative;
 	overflow: hidden;
}

.hero-banner h1{
	color: white;
	margin: 14px 0 20px;
}

.hero-banner h3{
	color: white;
	margin: 0 0 35px;

}

.hero-banner h4,
.hero-banner h4 a{
	color: white;
	margin: 0;
}

.character1{
	width: 363px;
	height: 344px;
	position: absolute; top: 10%; right: 89px;
	transform: rotate(15deg);

}

.character2{
	width: 309px;
	height: 371px;
	position: absolute; top: 213px; right: 109px;

}

.character3{
	width:297px;
	height:286px;
	position: absolute; bottom:74px; right: 277px;
}

a.cta{

}

a.cta,
button.cta{
font-size: 20px;
font-weight: bold;
color: white;
background: #007FFF;
display: inline-block;
border: 10px solid rgba(0, 127, 255, .15);
box-shadow: 0 0 0 10pt rgba(0, 127, 255, .15);
padding: 20px 30px;
border-radius: 10px;
text-decoration: none;
}

a.cta.alt{

}

a.cta.alt,
button.cta.alt{
	 background-color: #FFD400;
 	outline-color: rgba(0, 127, 255, .15);
	color: #111111;

}

nav{
	height: 100px;
	background-color: white;
	box-shadow: 0 5px 8px rgba(0,0,0,0.2);
	position: sticky;
}

nav.logo{
	display: block;
	width: 300px;
	height: 40px;
	position: absolute; top: 50%; left: 0;
	margin-top: -20px;
	margin-left: 30px;
	background: url(img/logo.png) no-repeat 0 0;
	background-size: 100%;
}

/* 	
	
	<nav id="more-info">	
	<a href="#" class="logo">The Gang</a>
	<ul>
		<li><a href="#">Sign Up</a></li>
		<li><a href="#story">The Story</a></li>
		<li><a href="#more-info">More Info</a></li>
	</ul>	
	</nav>
	
	<div class="more-info">
		<div class="wrapper">
		<h2>Join Our Fan Club</h2>
		<p>Every week, we have <span class="highlight"> a party.</span> If you want to join us then join our fan club. Members will also receive pictures of us in all kinds of shapes and sizes. Cool huh?</p>
		<button class="cta">Sign Me Up!</button>
		</div>
	</div>
*/
